/* 
  Monthly Chart
*/
#chartdiv {
	height: 339px;
}
.monthly-chart {
	h3 {
	    color: $color_11;
	    font-size: 16px;
	    font-weight: 600;
	    margin: 0;
	}
	.monthly-chart-tab.nav-pills {
		.nav-link.active {
			background-image: linear-gradient(to right, #25d5e4 0%, #6156ce 100%);
		}
		.show {
			>.nav-link {
				background-image: linear-gradient(to right, #25d5e4 0%, #6156ce 100%);
			}
		}
		.nav-link {
			padding: 6px 19px;
			font-size: 13px;
			border-radius: 20px;
		}
	}
}
.ct-series-a {
	.ct-bar {
		stroke: $color_47;
		stroke-width: 6px;
	}
	.ct-point {
		stroke: $color_47;
	}
	.ct-line {
		stroke: $color_47;
		stroke-width: 2px;
	}
	.ct-area {
		fill: $color_47;
	}
}
.ct-series-b {
	.ct-bar {
		stroke: $color_59;
		stroke-width: 4px;
	}
	.ct-point {
		stroke: $color_59;
	}
	.ct-line {
		stroke: $color_59;
		stroke-width: 2px;
	}
	.ct-area {
		fill: $color_59;
	}
}
.d-m-visitors {
	background-color: $color_59;
	height: 8px;
	width: 8px;
}
.visitors {
	font-weight: 600;
	text-transform: $transform-capital;
	color: $color_2;
	font-size: 14px;
	margin-left: 10px;
}
.d-m-page-view {
	background-color: $color_47;
	height: 8px;
	width: 8px;
}
.page-view {
	font-weight: 600;
	text-transform: $transform-capital;
	color: $color_2;
	font-size: 14px;
	margin-left: 10px;
}
