<!-- wrapper -->
<div class="wrapper">
    <!--sidebar-wrapper-->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="">
                <img src="static/images/logo-icon.png" class="logo-icon-2" alt="" />
            </div>
            <div>
                <h4 class="logo-text">Syndash</h4>
            </div>
            <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
            </a>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            {% for key, val in SIDE_BAR.items() recursive %}
                {% if val is mapping %}
                    <li class="menu-label">{{ key|e }}</li>
                    <li>
                    {%- for subkey,subval in val.items() -%}
                        {% if subval is mapping %}
                            {%- for subsubkey,subsubval in subval.items() -%}
                            <li>
                                <a href="{{ subsubval }}">
                                    <div class="parent-icon icon-color-9"><i class="bx bx-ghost"></i></div>
                                    <div class="menu-title">{{ subsubkey }}</div>
                                </a>
                            </li>
                            {%  endfor -%}
                        {% else %}
                        <a href="{{ subval }}">
                            <div class="parent-icon icon-color-9"><i class="bx bx-ghost"></i></div>
                            <div class="menu-title">{{ subkey }}</div>
                        </a>
                        {% endif %}
                    {%  endfor -%}
                    </li>
                {% else %}
                <li class="menu-label">{{ key|e }}</li>
                <a href="{{ val }}">
                    <div class="parent-icon icon-color-9"><i class="bx bx-ghost"></i></div>
                    <div class="menu-title">{{ key|e }}</div>
                </a>
                {% endif %}
            {% endfor %}
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar-wrapper-->