<!--  BEGIN NAVBAR  -->
<header class="header navbar fixed-top navbar-expand-sm">
    <a href="javascript:void(0);" class="sidebarCollapse d-none d-lg-block" data-placement="bottom"><i
            class="flaticon-menu-line-2"></i></a>


    <ul class="navbar-nav flex-row mr-lg-auto ml-lg-0  ml-auto">
        <li class="nav-item dropdown notification-dropdown ml-3">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="flaticon-bell-4"></span><span class="badge badge-success">15</span>
            </a>
            <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                <a class="dropdown-item title" href="javascript:void(0);">
                    <i class="flaticon-bell-13 mr-3"></i> <span>You have 15 new notifications</span>
                </a>

                <a class="dropdown-item text-center  p-1" href="javascript:void(0);">

                    <div class="notification-list ">

                        <div class="notification-item position-relative  mb-3">
                            <div class="c-dropdown text-right">
                                <span id="c-dropdonbtn" class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                                <div class="c-dropdown-content">
                                    <div class="c-dropdown-item">View</div>
                                    <div class="c-dropdown-item">Delete</div>
                                </div>
                            </div>

                            <h6 class="mb-1">5 new members joined today</h6>
                            <p><span class="meta-time">1 minute ago</span> . <span class="meta-member-notification">4
                                    members</span></p>
                            <ul class="list-inline badge-collapsed-img mt-3">
                                <li class="list-inline-item chat-online-usr">
                                    <img src="/static/assets/img/90x90.jpg" alt="admin-profile" class="ml-0">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img src="/static/assets/img/90x90.jpg" alt="admin-profile">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img src="/static/assets/img/90x90.jpg" alt="admin-profile">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img src="/static/assets/img/90x90.jpg" alt="admin-profile">
                                </li>
                            </ul>

                        </div>

                        <div class="notification-item position-relative  mb-3">

                            <div class="c-dropdown text-right">
                                <span id="c-dropdonbtn2" class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                                <div class="c-dropdown-content">
                                    <div class="c-dropdown-item">View</div>
                                    <div class="c-dropdown-item">Delete</div>
                                </div>
                            </div>

                            <h6 class="mb-1">Very long description...</h6>
                            <p><span class="meta-time">5 minutes ago</span> . <span class="meta-member-notification">5
                                    members</span></p>
                            <ul class="list-inline badge-collapsed-img mt-3">
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg" class="ml-0">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                            </ul>

                        </div>

                        <div class="notification-item position-relative  mb-3">
                            <div class="c-dropdown text-right">
                                <span class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                                <div class="c-dropdown-content">
                                    <div class="c-dropdown-item">View</div>
                                    <div class="c-dropdown-item">Delete</div>
                                </div>
                            </div>

                            <h6 class="mb-1">New item are in queue</h6>
                            <p><span class="meta-time">25 minutes ago</span> . <span class="meta-member-notification">3
                                    members</span></p>
                            <ul class="list-inline badge-collapsed-img mt-3">
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg" class="ml-0">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                                <li class="list-inline-item chat-online-usr">
                                    <img alt="admin-profile" src="/static/assets/img/90x90.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a class="footer dropdown-item text-center p-2">
                    <span class="mr-1">View All</span>
                    <div class="btn btn-gradient-warning rounded-circle"><i
                            class="flaticon-arrow-right flaticon-circle-p"></i></div>
                </a>
            </div>
        </li>
    </ul>


    <ul class="navbar-nav flex-row ml-lg-auto">

        <li class="nav-item  d-lg-block d-none">
            <form class="form-inline" role="search">
                <input type="text" class="form-control search-form-control" placeholder="Search...">
            </form>
        </li>

        <li class="nav-item dropdown user-profile-dropdown ml-lg-0 mr-lg-2 ml-3 order-lg-0 order-1">
            <a class="nav-link dropdown-toggle user" href="/profile">
                <i class="mr-1 flaticon-user-6"></i>
            </a>
        </li>
    </ul>
</header>
<!--  END NAVBAR  -->