/*
    =======================
        Footer Section
    =======================
*/

.footer-section {
	background-color: $color_19;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 100%;
	.footer-section-1 {
		width: 255px;
	}
	.footer-section-1.f-close {
		width: 0;
	}
	.footer-section-2 {
		width: 50%;
		background-color: $color_58;
		flex-grow: 8;
	}
	.links {
		margin: 15.3px 0;
		a {
			color: $color_59;
			font-size: 15px;
		}
	}
	.bottom-footer {
		margin: 0px;
		color: $color_59;
		font-size: 14px;
		padding: 15.5px 0;
		a {
			color: $color_60;
			border: none;
		}
	}
}
.topbar-layout {
	.footer-section {
		position: relative;
		margin: -50px 30px 0 30px;
		background-color: $color_5;
	}
}
.footer-closed.footer-section {
	margin: -50px 30px 0 30px;
}
.fixed-footer {
	position: fixed;
	left: 255px;
	right: 0;
	bottom: 0;
	height: 45px;
	margin: 0 15px;
	background-color: $color_5;
	-webkit-transition: left ease-in-out .3s;
	-moz-transition: left ease-in-out .3s;
	-o-transition: left ease-in-out .3s;
	transition: left ease-in-out .3s;
	-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.footer-closed {
	.fixed-footer {
		left: 0px;
	}
	.boxed-footer-section {
		left: 0px;
		width: 1110px;
	}
}
.boxed-footer-section {
	position: absolute;
	left: 256px;
	right: 0;
	bottom: 0;
	width: 855px;
	height: 45px;
	margin: 0 auto;
	background-color: $color_5;
	-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.theme-footer-section {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4px;
	margin: 0 15px;
	background-color: $color_5;
	-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.mainTitle {
	font-size: 34px;
}
// Scroll To top
.scrollTop {
	i {
		color: $color_16;
		font-size: 29px;
		background: $color_51;
		border-radius: 50%;
		cursor: pointer;
		&:hover {
			background: transparent;
		}
	}
}
