/*
    Latest Activities
*/
.latest-activities {
    .latest-activities-header {
        padding: 20px;
        border-bottom: $b-width-1 $solid $light-gray;
        h5 {
            color: $additional-color-11;
            font-size: 20px;
        }
    }
    .latest-activities-body {
        .l-a-stats {
            padding: 20px;
        }
        span.badge {
            background-image: $additional-gradient-color-22;
            padding: 5px 16px;
            font-size: 13px;
        }
        span.latest-activities-stats {
            color: $color_56;
            font-size: 16px;
            font-weight: 600;
        }
        table.table {
            tr {
                cursor: pointer;
                td {
                    border-color: $light-gray;
                    padding: 20px;
                    vertical-align: $v-align-middle;
                    p.latest-activities-txt {
                        font-size: 18px;
                        color: $color_76;
                        padding-left: 12px;
                    }
                    div.usr-img {
                        ul.badge-collapsed-img {
                            display: inline-block;
                            margin-left: 20px;
                        }
                    }
                    p.more-usr {
                        display: inline;
                        padding: 8px 10px;
                        border-radius: 50%;
                        background-color: $color_120;
                        color: $color_76;
                        font-size: 18px;
                        background-color: $color_55;

                    }
                    div.d-m-latest-activities {
                        border-radius: 5px;
                        width: 15px;
                        height: 15px;
                    }
                    .remove-latest-activities {
                        font-size: 24px;
                        color: $light-gray-2;
                    }
                }
                &:hover {
                    td {
                        p.latest-activities-txt {
                            color: $color_55;
                        }
                        .remove-latest-activities {
                            color: $color_55;
                        }
                    }
                }
            }
        }
        .l-a-load-more {
            button {
                padding: 6px 26px;
                font-size: 15px;
            }
        }
    }
}
