/*  Recent Activity    */
.recent-activity {
	.recent-activity-header {
		padding: 20px;
		border-bottom: $b-width-1 $solid $light-gray;
		h6 {
			font-weight: 600;
			font-size: 18px;
			color: $color_76;
		}
	}
	.recent-activity-body {
		table {
			tr {
				td {
					border-top: none;
					padding: 20px 20px;
					font-weight: 600;
					font-size: 13px;
					vertical-align: $v-align-middle;
					button {
						padding: 2px 8px;
						font-size: 12px;
					}
					button.btn-reply-action {
						padding: 8px 25px;
					}
				}
			}
			.d-flex {
				img {
					width: 45px;
				}
				.f-body {
					font-size: 15px;
					color: $dark;
					p.meta-info {
						span.a-f-meta-usr-name {
							font-size: 15px;
							font-weight: 600;
							color: $color_47;
							i {
								font-size: 18px;
								vertical-align: $v-align-text-bottom;
								color: $color_47;
								font-weight: 600;
								margin-right: 3px !important;
							}
						}
						span.a-f-meta-time {
							font-size: 14px;
							font-weight: 600;
							color: $color_83;
							i {
								font-size: 18px;
								vertical-align: $v-align-text-bottom;
								color: $color_83;
								font-weight: 600;
								margin-left: 4px !important;
								margin-right: 3px !important;
							}
						}
					}
				}
			}
		}
		button.btn-secondary {
			padding: 10px 38px;
			font-size: 15px;
			background-image: $additional-gradient-color-37;
			&:hover {
				background-image: $additional-gradient-color-38;
			}
		}
	}
}
