/*
  Sales Growth
*/
.sales-growth {
	.sales-growth-header {
		h6 {
			color: $color_76;
			font-size: 16px;
			font-weight: 600;
		}
		.sales-growth-tab.nav-pills {
			.nav-link.active {
				background-image: $additional-gradient-color-17;
			}
			.show {
				>.nav-link {
					background-image: $additional-gradient-color-17;
				}
			}
			.nav-link {
				padding: 6px 17px;
				font-size: 13px;
				border-radius: 20px;
			}
		}
	}
	.sales-growth-body {
		.tab-content {
			.tab-pane {
				.t-s-total-stats-1 {
					position: $pos-rel;
					font-size: 13px;
					padding-left: 5px;
					color: $additional-color-6;
				}
				.t-s-total-stats-2 {
					position: $pos-rel;
					font-size: 13px;
					padding-left: 5px;
					color: $additional-color-6;
					&:before {
						position: $pos-abs;
						content: '';
						padding: 7px;
						left: 26px;
						top: 2.5px;
						border-radius: 50%;
					}
				}
			}
			#sales-growth-monthly.tab-pane {
				.d-m-total-stats-1 {
					background-color: $color_59;
					height: 13px;
					width: 13px;
					padding: 0;
				}
				.d-m-total-stats-2 {
					background-color: $color_53;
					height: 13px;
					width: 13px;
					padding: 0;
				}
			}
			#sales-growth-monthly {
				.ct-series-a {
					.ct-bar {
						stroke: $color_59;
					}
				}
				.ct-series-b {
					.ct-bar {
						stroke: $color_53;
					}
				}
				.ct-label.ct-vertical.ct-start {
					color: $dark;
					font-weight: 600;
				}
				.ct-label.ct-horizontal.ct-end {
					color: $dark;
					font-weight: 600;
				}
			}
			.ct-grid {
				stroke: #e9ecef;
			}
			#sales-growth-yearly.tab-pane {
				.d-m-total-stats-1 {
					background-color: $color_57;
					height: 13px;
					width: 13px;
					padding: 0;
				}
				.d-m-total-stats-2 {
					background-color: $color_88;
					height: 13px;
					width: 13px;
					padding: 0;
				}
			}
			#sales-growth-yearly {
				.ct-series-a {
					.ct-bar {
						stroke: $color_57;
					}
				}
				.ct-series-b {
					.ct-bar {
						stroke: $color_88;
					}
				}
				.ct-label.ct-vertical.ct-start {
					color: $dark;
					font-weight: 600;
				}
				.ct-label.ct-horizontal.ct-end {
					color: $dark;
					font-weight: 600;
				}
			}
		}
	}
}
